h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
}
.cart_page .container{
    padding:4% 8%;
}
.cart_page .container h1{
    margin-top: 8px;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 40px;
}
.cart_page .content{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 100px;
}
.summary_price{
    background-color: #f1f1f1;
    padding:20px;
    margin-bottom: 24px;
}
.summary_price div{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:12px 0;
}
.summary_price div:first-child{
    position: relative;
}
.summary_price div:first-child::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #f98888;
}
.summary_price div h4{
    font-size: 14px;
    font-weight: 400;
}
.summary_price .Delivery{
   color: #4d4c4c;
}
.summary_price div:last-child span,
.summary_price div:last-child h4{
    font-weight: 700;
}
.summary .checkout{
    width: 100%;
    background-color: #f78787;
    color: #f9f9f9;
    border: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    height: 48px;
    transition: .25s ease-in-out !important;
    margin-bottom: 40px;
    cursor: pointer;
}