main{
    padding:8%;
}
.product-header{
    background: linear-gradient(to bottom, #fbeeda, #fadcdc);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.product-header .menu-icon{
    display: flex;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
    visibility:hidden;
}
.product-header-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-header-right span{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-right: 4px;
}
.product-header-right #sort{   
    border-radius: 0;
    min-width: auto;
    min-height: auto;
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 12px;
    color: #000;
}
#productCount{
    margin-left: 6px;
}
main .container{
    position: relative;
}
.aside {
    width: 250px;
    position: absolute;
    top: 20px;
    left: 0px;
    background: linear-gradient(to bottom, #fbeeda, #fadcdc);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 60px 30px;
    z-index: 1;
}
.aside h2 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 8px;
}
.shop_categories a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #696868;
    display: block;
    transition: 0.3s;
}
.shop_categories a.active,
.shop_categories a:hover {
    color: #333333;
}

/*---------------- products ---------------------*/
.products{
        margin-left: 0;
        padding: 16px;
        flex-grow: 1;
        transition: margin-left 0.5s;
        width: 100%;
        padding-left: 270px;
}
.products .content{
    display: grid;
    gap: 20px;
    padding: 16px;
}
.product-image{
  width: 100%;
  height: 200px; /* Fixed height for product images */
  object-fit: cover; /* Ensure images maintain aspect ratio */
  border-radius: 8px; /* Match the card's rounded corners */

}

.product-card {
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(to bottom, #f9dab4, #f9b7b9); /* Background color for each product card */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    padding: 12px;
    text-align: center; /* Center align product details */
  }

.card-img{
    position: relative;
    overflow: hidden;
}
.card-img img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    transition: all 1s linear;
}
.card-img:hover img {
    transform: scale(1.1);
}
.card-img .addToCart {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    transition: all .4s;
}
.card-img .addToCart:hover{
    background-color: #000000dc;
    color: #fff;
}
.card-info {
    padding: 16px 0;
}

.product-name {
    font-size: 14px;
    font-weight: 400;
    color: #222;
    margin: 0 0 8px;
}

.product-price {
    font-size: 14px;
    font-weight:400 ;
    color: #696969;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .product-header .menu-icon{
        visibility: visible;
    }
    .sortBy{
        display: none;
    }
    .aside {
        width: 100%;
        left: -200%;
    }
    .aside.open {
        left: 0;
    }
    .products {
        padding-left: 16px;
    }
}
